<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<timestamp key="year" datePattern="yyyy" />
	<timestamp key="month" datePattern="MM" />
	<timestamp key="day" datePattern="dd" />
	<timestamp key="filename" datePattern="yyyyMMdd'T'HHmmss" />
	<property name="LOG_ROOT" value="c:/PCC/logs" />
	<property name="LOG_FILE_NAME" value="csvprocessor" />
	<appender name="STDOUT"
		class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<!-- <pattern>%d{HH:mm:ss.SSS} - %msg%n</pattern> -->
			<pattern>%d{HH:mm:ss} [%thread] %-5p %class{0}.%method:%L - %m%n
			</pattern>
		</encoder>
	</appender>
	<appender name="ROLLING" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${LOG_ROOT}/${LOG_FILE_NAME}.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
			<fileNamePattern>${LOG_ROOT}/${LOG_FILE_NAME}-%d{yyyy-MM-dd}.%i.log</fileNamePattern>
			<!-- each archived file's size will be max 10MB -->
			<maxFileSize>1MB</maxFileSize>    
			<!-- 30 days to keep -->
			<maxHistory>30</maxHistory>
			<!-- total size of all archive files, if total size > 100GB, it will delete old archived file -->
			<totalSizeCap>100GB</totalSizeCap>
		</rollingPolicy>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
		</encoder>
	</appender>
	<root level="INFO">
		<appender-ref ref="ROLLING" />
		<appender-ref ref="STDOUT" />
	</root>
</configuration>